.reg_wrapper {
  position: absolute;
  top: 13%;
  left: 15%;
}
.reg_holder {
  position: relative;
  width: 70vw;
  height: 70vh;
  background-color: teal;
}
.left-content {
  position: relative;
  padding: 0;
}
.left-content img {
  /* background-color: tomato; */
  background-size: contain;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.right-content {
  background-color: yellow;
}
